.article-page-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.article-main-image {
  height: 300px;
  width: 100%;
  outline: 2px solid black;
}
