.account-page-container {
  width: 65%;
  margin: 0 auto;
}

.account-page-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.account-details-link {
  text-decoration: underline;
  font-size: 0.8em;
  color: blue;
}
