.campgrounds-page-container {
  display: flex;
  flex-flow: column wrap;
}

.campgrounds-page-container h1 {
  display: flex;
  justify-content: center;
}

.search-result-info {
  width: 65%;
  margin: 0 auto;
  display: inline-flex;
  font-size: 1.3em;
}

.search-result-info p {
  margin-right: 3px;
}

.search-length,
.search-query {
  font-weight: bold;
}
