.navigation-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation-list-wrapper {
  width: 80%;

}

.navigation-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: flex-end;
}

.navigation-list a {
  text-decoration: none;
  color: white;
}

.navigation-list-item {
  padding: 0.5em;
  font-size: 1.5em;
}

.navigation-list-item:hover {
  cursor: pointer;
  background-color: rgba(67, 62, 63, 1);
  border-radius: 3px;
}

.nav-active {
  background-color: rgba(67, 62, 63, 1);
}

@media screen and (max-width: 874px) {
  .navigation-list-wrapper {
    width: 100%;
  }
  .navigation-list-item {
    font-size: 1.3em;
  }
}


@media screen and (max-width: 665px) {

  .navigation-list-item {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 560px) {

  .navigation-list-item {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 527px) {

  .navigation-list-item {
    font-size: 1em;
  }
}
