.filter-campgrounds-outer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.filter-campgrounds-inner {
    display: flex;
    flex-flow: column wrap;
    max-height: 150px;
    width: 60%;
    margin: 0 auto;
}

.amenity-filter {
    display: flex;
    margin: 0.3em 0;
}


.campgrounds-page ul {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    margin: 0 auto;
    list-style: none;
    padding: 0 1em;
}

@media only screen and (max-width: 1250px) {

    .campgrounds-page ul {
        width: 80%;
    }

}

@media only screen and (max-width: 970px) {

    .campgrounds-page ul {
        width: 85%;
    }

}

@media only screen and (max-width: 880px) {

    .campgrounds-page ul {
        width: 90%;
    }

}

@media only screen and (max-width: 756px) {

    .campgrounds-page ul {
        margin: 0 auto;
        padding: 0;
        flex-flow: row wrap;
    }

}
