.campgrounds-page li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2em auto;
    max-width: 1100px;
    transition: 0.1s ease-out;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.16),
                0 8px 8px rgba(0,0,0,0.20);
                padding: 1em;
}

.campgrounds-page li:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in;
}

.campgrounds-page a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
}

.campgrounds-page a:hover h2 {
    text-decoration: underline;

}


.campground-item-inner {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
}

.campground-item-img-wrapper {
    grid-column: 1;
    height: 200px;
    width: 200px;
}

.campground-item-img-wrapper img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.campground-item-info-wrapper {
    display: flex;
    flex-flow: column wrap;
}

.campground-item-info-wrapper h2,
.campground-item-info-wrapper p {
    margin: 0;
}

.campground-item-info-wrapper h2 {
    font-size: 32px;
    margin-bottom: 0.4em;
}

.campground-item-description {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    font-weight: 600;
}



@media only screen and (max-width: 1205px) {

    .campgrounds-page li {
        max-width: 1000px;
    }

    .campground-item-inner {
        grid-template-columns: 25% 75%;

    }
}

@media only screen and (max-width: 1150px) {
    .campground-item-inner {
        grid-template-columns: 28% 72%;
    }

    .campgrounds-page li {
        max-width: 900px;
    }

}

@media only screen and (max-width: 1000px) {

    .campground-item-inner {
        grid-template-columns: 30% 70%;
        min-width: 700px;
    }

    .campgrounds-page li {
        max-width: 750px;
    }
}

@media only screen and (max-width: 880px) {

    .campground-item-inner {
        grid-template-columns: 30% 70%;
        min-width: 0;
    }

    .campground-item-description {
        margin-top: 20px;
    }

    .campground-item-description p {
        max-height: 64px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 756px) {

    .campgrounds-page li {
        width: 250px;
    }

    .campground-item-img-wrapper {
        width: 100%;
    }

    .campground-item-name {
        text-align: center;
    }

    .campground-item-location {
        text-align: center;
    }

    .campground-item-inner {
        display: block;
        align-items: center;
        flex-flow: column wrap;
    }

    .campground-item-info-wrapper {
        display: block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }


    .campground-item-description{
        display: none;
    }


}
