html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Englebert', sans-serif;
  font-size: 18px;
}

p {
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Englebert', sans-serif;
}

button:hover,
a:hover {
  cursor: pointer;
}

.bold {
    font-weight: bold;
}
